<h1>Deposito</h1>

<form action="/deposito" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div>
        <label for="valor">Valor a depositar</label>
        <input type="number" name="valor">
    </div>
    <input type="submit" value="Depositar">
</form>
