<div class="container">
    <div class="painelPrimario">
        <h1>Área de Acesso</h1>
        <div class="container">
            <a href="/novaConta">Abrir Conta</a>
        </div>
        <div class="container">
            <a href="/login">Acessar Conta</a>
        </div>
    </div>
</div>

