<div class="container">
    <div class="painelPrimario">
        <h1>Dados da nova conta</h1>
        <form action="/inserirConta" method="post" class="form">
            <div class="form-control">
                <label for="nome">Nome: </label>
                <input type="text" name="nome" placeholder="Digite seu nome...">
            </div>
            <div class="form-control">
                <label for="senha">Senha: </label>
                <input type="password" name="senha" placeholder="Digite a senha...">
            </div>
            <div class="container">
                <input type="submit" value="Cadastrar" class="btn-cadastro">
            </div>
        </form>
    </div>
</div>