<h1>Saque</h1>

<form action="/saque" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div>
        <label for="valor">Valor a sacar</label>
        <input type="number" name="valor">
    </div>
    <input type="submit" value="Sacar">
</form>
